* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.container {
    height: 100%;
    padding-left: 30px;
    position: relative;
}
header {
    height: 10%;
    display: flex;
}
.header-title-wrapper {
    font-size: 2em;
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
}
.desktop-menu-wrapper {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    color: lightgrey;
    font-weight: 600;
    align-items: center;
    padding-right: 30px;
}
.mobile-menu-wrapper {
    display: none;
}
main {
    height: 65%;
    display: flex;
}
.text-wrapper {
    width: 35%;
}
.white-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.white-wrapper div:first-child {
    font-size: 10em;
    font-weight: 900;
    padding-top: 50px;
}
.white-wrapper div:nth-child(2) {
    font-size: 5em;
    font-weight: 900;
}
.white-wrapper div:nth-child(3) {
    font-size: 1.4em;
    width: 80%;
    text-align: justify;
}
.white-wrapper div:last-child {
    font-size: 3em;
    color: rgb(224, 171, 171);
    word-spacing: 1em;
}
.black-wrapper {
    position: absolute;
    height: 35%;
    width: 27%;
    color: white;
    background-color: black;
    font-size: 1.4em;
    bottom: 0;
    left: 32%;
    padding: 10px 15px;
}
.black-wrapper div {
    font-size: 2em;
    padding: 10px 0;
}
.photo-wrapper {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    height: 100%;
    width: 65%;
}
footer {
    height: 25%;
}
.red-wrapper {
    float: right;
    width: 43%;
    height: 100%;
    padding: 20px 10px 10px 40px;
    color: white;
    font-size: 1.4em;
    background-color: rgb(224, 171, 171);
}
.red-wrapper div:first-child {
    font-size : 2em;
    padding: 10px 0;
}
.red-wrapper button {
    color: white;
    background-color: rgb(224, 171, 171);
    border: 1px solid white;
    font-size: 1.4em;
    padding: 5px 10px;
}
.red-wrapper div:last-child {
    padding: 10px 0;
}
